.startView {
  width: 100%;
  height: 100vh;
}

.sectionOne {
  width: 100%;
  height: 100vh;
  background-image: url("../components/assets/backgrounds/backgroundImage01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.sectionOne_menu {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionOne_menu_container {
  width: 1100px;
  height: 60px;
  background-color: #2d4d55;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateY(20px);
}
.sectionOne_menu_container img {
  height: 55px;
  position: absolute;
  top: -51px;
}
.sectionOne_menu_container_middle {
  width: 300px;
  height: 45px;
  background: rgb(67, 133, 132);
  background: radial-gradient(circle, rgb(67, 133, 132) 0%, rgb(35, 35, 45) 100%);
  margin: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionOne_menu_container_middle p {
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: "Labrada", serif;
  text-shadow: 2px 2px black;
}
.sectionOne_menu_container_button {
  width: 17.4%;
  height: 45px;
  background: rgb(58, 145, 151);
  background: linear-gradient(180deg, rgb(58, 145, 151) 0%, rgb(13, 42, 46) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5px;
  cursor: pointer;
  z-index: 100;
}
.sectionOne_menu_container_button p {
  color: white;
  font-size: 23px;
  font-family: "Labrada", serif;
  margin: 0;
  text-shadow: 2px 2px black;
}
.sectionOne_clubName {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 5vh);
  z-index: 0;
}
.sectionOne_clubName p {
  color: white;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
  text-shadow: 5px 5px black;
}
.sectionOne_clubName p:nth-child(1) {
  font-size: 50px;
  transform: translateY(20px);
}
.sectionOne_clubName p:nth-child(2) {
  font-size: 80px;
}
.sectionOne_clubName p:nth-child(3) {
  font-size: 50px;
}

.sectionTwo {
  width: 100%;
  height: 100vh;
  background-image: url("../components/assets/backgrounds/backgroundImage02.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionTwo_menu {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionTwo_menu_texts {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sectionTwo_menu_texts p {
  color: white;
  font-family: "Labrada", serif;
  font-size: 25px;
  margin: 0;
  margin-top: -6px;
  cursor: pointer;
}
.sectionTwo_menu_decor {
  width: 100%;
  height: 100%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionTwo_menu_decor_goldenLine {
  width: 25%;
  height: 2px;
  border-radius: 5px;
  background-color: #7d6b29;
}
.sectionTwo_menu_decor_dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 7px;
  margin-right: 7px;
  background-color: #7d6b29;
}
.sectionTwo_title {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionTwo_title p {
  color: white;
  font-size: 60px;
  font-weight: bold;
  font-family: "Labrada", serif;
}
.sectionTwo img {
  rotate: 180deg;
  height: 60px;
}
.sectionTwo_container {
  width: 50%;
  height: 55%;
  border-radius: 5px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.6039215686);
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.sectionTwo_container_item {
  width: 95%;
  height: auto;
  margin-top: 10px;
}
.sectionTwo_container_item p {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Labrada", serif;
}
.sectionTwo_container_item p:nth-child(2) {
  font-size: 15px;
  color: #7d6b29;
}
.sectionTwo_container_item p:nth-child(3) {
  font-size: 30px;
  color: white;
}
.sectionTwo_container_item p:nth-child(4) {
  font-size: 14px;
  color: white;
  font-style: italic;
}
.sectionTwo_container_item hr {
  width: 100%;
  border-color: #7d6b29;
  margin-top: 10px;
}

#frontpage_information_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#frontpage_information_container::-webkit-scrollbar {
  display: none;
}

.memberView {
  width: 100%;
  height: 100vh;
  background-image: url("../components/assets/backgrounds/backgroundImage01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.memberView_menu {
  width: 50%;
  height: 225px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}
.memberView_menu_text {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.memberView_menu_text p {
  color: white;
  font-size: 25px;
  cursor: pointer;
  font-family: "Labrada", serif;
  margin: 0;
}
.memberView_menu_decor {
  width: 100%;
  height: 10%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberView_menu_decor_goldenLine {
  width: 48%;
  height: 2px;
  border-radius: 5px;
  background-color: #7d6b29;
}
.memberView_menu_decor_dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 7px;
  margin-right: 7px;
  background-color: #7d6b29;
}
.memberView_menu_title_and_crown {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.memberView_menu_title_and_crown p {
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  font-family: "Labrada";
}
.memberView_menu_title_and_crown img {
  rotate: 180deg;
  height: 60px;
  margin-top: 5px;
}
.memberView_cardContainer {
  width: 80%;
  height: calc(100% - 225px);
  margin-top: 30px;
  overflow-y: scroll;
  padding-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.memberView_cardContainer::-webkit-scrollbar {
  display: none;
}

.login {
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.7647058824);
  border: 2px solid #aca14d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 250px);
}
.login p {
  color: white;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
}
.login input {
  width: 94%;
  height: 88%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  background-color: transparent;
  font-family: "Labrada", serif;
}
.login_email {
  width: 250px;
  height: 45px;
  background-color: black;
  border: 2px solid #aca14d;
  margin-top: 10px;
}
.login_password {
  width: 250px;
  height: 45px;
  background-color: black;
  border: 2px solid #aca14d;
  margin-top: 10px;
}
.login_button {
  width: 80px;
  height: 30px;
  background-color: black;
  border: 2px solid #aca14d;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login_button p {
  margin: 0;
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-family: "Labrada", serif;
  transform: translateY(-2px);
}
.login_exit {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: white;
  font-family: "Labrada", serif;
  font-size: 20px;
  position: absolute;
  top: 0%;
  left: 94.5%;
  border: none;
  cursor: pointer;
}

.campaignView {
  width: 100%;
  height: 100vh;
  background-image: url("../components/assets/backgrounds/backgroundImage01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.createCampaign {
  width: 100%;
  height: 100vh;
  background-image: url("../components/assets/backgrounds/backgroundImage01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createCampaign_menu {
  width: 50%;
  height: 225px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}
.createCampaign_menu_text {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.createCampaign_menu_text p {
  color: white;
  font-size: 25px;
  cursor: pointer;
  font-family: "Labrada", serif;
  margin: 0;
}
.createCampaign_menu_decor {
  width: 100%;
  height: 10%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createCampaign_menu_decor_goldenLine {
  width: 48%;
  height: 2px;
  border-radius: 5px;
  background-color: #7d6b29;
}
.createCampaign_menu_decor_dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 7px;
  margin-right: 7px;
  background-color: #7d6b29;
}
.createCampaign_menu_title_and_crown {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createCampaign_menu_title_and_crown p {
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  font-family: "Labrada";
}
.createCampaign_menu_title_and_crown img {
  rotate: 180deg;
  height: 60px;
  margin-top: 5px;
}
.createCampaign_cardContainer {
  width: 50%;
  height: calc(100% - 225px - 10%);
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #7d6b29;
  border-radius: 2px;
  position: relative;
}
.createCampaign_cardContainer_card {
  width: 300px;
  height: 400px;
  border: 4px solid black;
  border-radius: 5px;
  position: absolute;
  box-shadow: 0px 0px 5px white;
}
.createCampaign_cardContainer_card_imageContainer {
  width: 100%;
  height: 50%;
  background-color: #0b2529;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.createCampaign_cardContainer_card_imageContainer img {
  height: 60px;
}
.createCampaign_cardContainer_card_descriptions {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createCampaign_cardContainer_card_descriptions_title {
  width: 97%;
  height: 17%;
  display: flex;
  justify-content: center;
  border: 2px solid #7d6b29;
  margin-top: 5px;
}
.createCampaign_cardContainer_card_descriptions_title input {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Labrada";
  font-size: 20px;
  text-transform: uppercase;
}
.createCampaign_cardContainer_card_descriptions_text {
  width: 97%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  border: 2px solid #7d6b29;
  margin-top: 5px;
  margin-bottom: 5px;
}
.createCampaign_cardContainer_card_descriptions_text textarea {
  width: 100%;
  height: calc(100% - 5px);
  background-color: black;
  color: #666666;
  font-size: 15px;
  padding-left: 5px;
  font-family: "Labrada";
}
.createCampaign_cardContainer_card_descriptions_players {
  width: 97%;
  height: 20%;
  border: 2px solid #7d6b29;
  display: flex;
  align-items: center;
  justify-content: center;
}
.createCampaign_cardContainer_card_descriptions_players input {
  width: 100%;
  height: calc(100% - 4px);
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Labrada";
  font-size: 15px;
}
.createCampaign_cardContainer_cardNextBtn {
  width: 80px;
  height: 35px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #7d6b29;
  position: absolute;
  top: 92%;
  left: 90%;
}
.createCampaign_cardContainer_cardNextBtn p {
  font-family: "Labrada";
  font-size: 20px;
  color: white;
  margin: 0;
  transform: translateY(-2px);
}

.campaignStory_container {
  width: 50%;
  height: calc(100% - 225px - 10%);
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #7d6b29;
  border-radius: 2px;
  position: relative;
}
.campaignStory_container p {
  color: white;
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Labrada";
}
.campaignStory_container_storybox {
  width: 90%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.5921568627);
  border: 3px solid #7d6b29;
  margin-top: 20px;
}
.campaignStory_container_storybox textarea {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: transparent;
  color: #666666;
}
.campaignStory_container_cardNextBtn {
  width: 80px;
  height: 35px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #7d6b29;
  position: absolute;
  top: 92%;
  left: 90%;
}
.campaignStory_container_cardNextBtn p {
  font-family: "Labrada";
  font-size: 20px;
  color: white;
  margin: 0;
  transform: translateY(-2px);
}

.campaignMaps_container {
  width: 50%;
  height: calc(100% - 225px - 10%);
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #7d6b29;
  border-radius: 2px;
  position: relative;
}
.campaignMaps_container_title {
  width: 100%;
  height: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaignMaps_container_title p {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  font-family: "Labrada";
}
.campaignMaps_container_title_add {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 10px;
  transform: translate(10px, 4px);
  cursor: pointer;
}
.campaignMaps_container_title_add p {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 18px;
  transform: translate(2.5px, -9px);
}
.campaignMaps_container_title_minus {
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-radius: 10px;
  transform: translate(25px, 4px);
  cursor: pointer;
}
.campaignMaps_container_title_minus p {
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  transform: translate(4.5px, -10px);
}
.campaignMaps_container_uploadBoxes {
  width: 646px;
  height: auto;
  padding-bottom: 50px;
  padding-top: 30px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.campaignMaps_container_uploadBoxes_box {
  width: 300px;
  height: 200px;
  background-color: #0b2529;
  border: 4px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaignMaps_container_uploadBoxes_box img {
  height: 70px;
}
.campaignMaps_container_uploadBoxes::-webkit-scrollbar {
  display: none;
}
.campaignMaps_container_cardNextBtn {
  width: 80px;
  height: 35px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #7d6b29;
  position: absolute;
  top: 92%;
  left: 90%;
}
.campaignMaps_container_cardNextBtn p {
  font-family: "Labrada";
  font-size: 20px;
  color: white;
  margin: 0;
  transform: translateY(-2px);
}

.campaignEncounters {
  width: 50%;
  height: calc(100% - 225px - 10%);
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  border: 3px solid #7d6b29;
  border-radius: 2px;
  position: relative;
}
.campaignEncounters_title {
  width: 100%;
  height: 70px;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campaignEncounters_title p {
  color: white;
  font-size: 25px;
  margin: 0;
  font-weight: bold;
  font-family: "Labrada";
}
.campaignEncounters_cardsSection {
  width: 100%;
  height: 100%;
  display: flex;
}
.campaignEncounters_cardsSection_creatorside {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.campaignEncounters_cardsSection_creatorside button {
  width: 100px;
  height: 35px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #7d6b29;
  margin-top: 15px;
}
.campaignEncounters_cardsSection_creatorside button p {
  font-family: "Labrada";
  font-size: 20px;
  color: white;
  margin: 0;
  transform: translateY(-2px);
}
.campaignEncounters_cardsSection_libraryside {
  width: 60%;
  height: 100%;
}
.campaignEncounters_cardsSection_libraryside_container {
  width: 100%;
  height: 76%;
  padding-left: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
.campaignEncounters_cardsSection_libraryside_container::-webkit-scrollbar {
  display: none;
}
.campaignEncounters_cardsSection_libraryside_cardNextBtn {
  width: 100px;
  height: 35px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #7d6b29;
  position: absolute;
  top: 92%;
  left: 88%;
}
.campaignEncounters_cardsSection_libraryside_cardNextBtn p {
  font-family: "Labrada";
  font-size: 20px;
  color: white;
  margin: 0;
  transform: translateY(-2px);
}

.cardCreator {
  width: 300px;
  height: 400px;
  border: 4px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px white;
}
.cardCreator_imageContainer {
  width: 100%;
  height: 50%;
  background-color: #0b2529;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.cardCreator_imageContainer img {
  height: 60px;
}
.cardCreator_descriptions {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardCreator_descriptions_title {
  width: 97%;
  height: 17%;
  display: flex;
  justify-content: center;
  border: 2px solid #7d6b29;
  margin-top: 5px;
}
.cardCreator_descriptions_title input {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Labrada";
  font-size: 20px;
  text-transform: uppercase;
}
.cardCreator_descriptions_text {
  width: 97%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  border: 2px solid #7d6b29;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardCreator_descriptions_text textarea {
  width: 100%;
  height: calc(100% - 5px);
  background-color: black;
  color: #666666;
  font-size: 15px;
  padding-left: 5px;
  font-family: "Labrada";
}
.cardCreator_descriptions_players {
  width: 97%;
  height: 20%;
  border: 2px solid #7d6b29;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardCreator_descriptions_players input {
  width: 100%;
  height: calc(100% - 4px);
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Labrada";
  font-size: 15px;
}

.cardCreator_encounter {
  width: 300px;
  height: 450px;
  border: 4px solid black;
  border-radius: 5px;
  box-shadow: 0px 0px 5px white;
  margin-top: 2px;
}
.cardCreator_encounter_imageContainer {
  width: 100%;
  height: 45%;
  background-color: #0b2529;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cardCreator_encounter_imageContainer img {
  height: 60px;
}
.cardCreator_encounter_descriptions {
  width: 100%;
  height: 55%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardCreator_encounter_descriptions_title {
  width: 97%;
  height: 17%;
  display: flex;
  justify-content: center;
  border: 2px solid #7d6b29;
  margin-top: 5px;
}
.cardCreator_encounter_descriptions_title input {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Labrada";
  font-size: 20px;
  text-transform: uppercase;
}
.cardCreator_encounter_descriptions_type {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.cardCreator_encounter_descriptions_type p {
  color: #7d6b29;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  font-family: "Labrada";
}
.cardCreator_encounter_descriptions_text {
  width: 97%;
  height: 50%;
  display: flex;
  align-items: flex-start;
  border: 2px solid #7d6b29;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cardCreator_encounter_descriptions_text textarea {
  width: 100%;
  height: calc(100% - 5px);
  background-color: black;
  color: #666666;
  font-size: 15px;
  padding-left: 5px;
  font-family: "Labrada";
}
.cardCreator_encounter_descriptions_stats {
  width: 97%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardCreator_encounter_descriptions_stats_field {
  width: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardCreator_encounter_descriptions_stats_field img {
  height: 25px;
  margin-right: 5px;
}
.cardCreator_encounter_descriptions_stats_field input {
  width: 30px;
  height: calc(100% - 4px);
  color: white;
  background-color: transparent;
  border: none;
  text-align: center;
  font-family: "Labrada";
  font-size: 25px;
}

.campaignCard {
  width: 300px;
  height: 400px;
  border: 4px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.campaignCard_imageContainer {
  width: 100%;
  height: 50%;
}
.campaignCard_imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.campaignCard_descriptions {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.campaignCard_descriptions_title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
}
.campaignCard_descriptions_title p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
  margin-top: 5px;
  text-transform: uppercase;
}
.campaignCard_descriptions_text {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: flex-start;
}
.campaignCard_descriptions_text p {
  color: #666666;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-family: "Arial", serif;
  line-height: 1.3;
  margin: 0;
  margin-top: 10px;
}
.campaignCard_descriptions_players {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.campaignCard_descriptions_players p:nth-child(1) {
  color: white;
  font-size: 18px;
  font-family: "Labrada", serif;
  margin: 0;
  transform: translateY(-5px);
}
.campaignCard_descriptions_players p:nth-child(2) {
  color: white;
  font-size: 25px;
  font-family: "Labrada", serif;
  margin: 0;
  margin-left: 10px;
  transform: translateY(-8px);
}

.encounterCard_normal {
  width: 300px;
  height: 400px;
  border: 4px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.encounterCard_normal_imageContainer {
  width: 100%;
  height: 50%;
  background-image: url("../components/assets/misc/campaignThumb01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.encounterCard_normal_descriptions {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.encounterCard_normal_descriptions_title {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.encounterCard_normal_descriptions_title p:nth-child(1) {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
}
.encounterCard_normal_descriptions_title p:nth-child(2) {
  color: #7d6b29;
  font-size: 13px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
  margin-top: -4px;
}
.encounterCard_normal_descriptions_text {
  width: 100%;
  height: 72%;
  display: flex;
  align-items: flex-start;
}
.encounterCard_normal_descriptions_text p {
  color: #666666;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-family: "Arial", serif;
  line-height: 1.3;
  margin: 0;
}

.encounterCard_edit {
  width: 300px;
  height: 400px;
  border: 4px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.encounterCard_edit_imageContainer {
  width: 100%;
  height: 50%;
  background-image: url("../components/assets/misc/campaignThumb01.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.encounterCard_edit_descriptions {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
}
.encounterCard_edit_descriptions_title {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.encounterCard_edit_descriptions_title p:nth-child(1) {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
}
.encounterCard_edit_descriptions_title p:nth-child(2) {
  color: #7d6b29;
  font-size: 13px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
  margin-top: -4px;
}
.encounterCard_edit_descriptions_text {
  width: 100%;
  height: 72%;
  display: flex;
  align-items: flex-start;
}
.encounterCard_edit_descriptions_text p {
  color: #666666;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  font-family: "Arial", serif;
  line-height: 1.3;
  margin: 0;
}

.encounterCard_miniature {
  width: 170px;
  height: 240px;
  border: 4px solid black;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
  margin-top: 2px;
}
.encounterCard_miniature_imageContainer {
  width: 100%;
  height: 50%;
}
.encounterCard_miniature_imageContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.encounterCard_miniature_descriptions {
  width: 100%;
  height: 50%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.encounterCard_miniature_descriptions_title {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.encounterCard_miniature_descriptions_title p:nth-child(1) {
  color: white;
  font-size: 12px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
}
.encounterCard_miniature_descriptions_title p:nth-child(2) {
  color: #7d6b29;
  font-size: 9px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
  margin-top: -4px;
}
.encounterCard_miniature_descriptions_text {
  width: 100%;
  height: 57%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}
.encounterCard_miniature_descriptions_text p {
  word-wrap: break-word;
  width: 160px;
  height: 68px;
  color: #666666;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 9px;
  font-family: "Arial", serif;
  line-height: 1.3;
  margin: 0;
}
.encounterCard_miniature_descriptions_stats {
  width: 98%;
  height: 18%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.encounterCard_miniature_descriptions_stats_group {
  width: 45px;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.encounterCard_miniature_descriptions_stats_group img {
  height: 100%;
}
.encounterCard_miniature_descriptions_stats_group p {
  color: white;
  font-size: 15px;
  font-weight: bold;
  font-family: "Labrada", serif;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
}

.campaignStory {
  width: 50%;
  height: calc(100% - 225px - 10%);
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #7d6b29;
  border-radius: 2px;
  position: relative;
}
.campaignStory p {
  color: white;
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Labrada";
}
.campaignStory_storybox {
  width: 90%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.5921568627);
  border: 3px solid #7d6b29;
  margin-top: 20px;
}
.campaignStory_storybox textarea {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  background-color: transparent;
  color: #666666;
}
.campaignStory_savebtn {
  width: 80px;
  height: 35px;
  background-color: black;
  cursor: pointer;
  border: 2px solid #7d6b29;
  position: absolute;
  top: 92%;
  left: 90%;
}
.campaignStory_savebtn p {
  font-family: "Labrada";
  font-size: 20px;
  color: white;
  margin: 0;
  transform: translateY(-2px);
}

.campaignMap {
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 3px solid #7d6b29;
  border-radius: 2px;
  position: relative;
}
.campaignMap img {
  max-width: 800px;
  max-height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

.minimaps_container {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.minimaps_container_minimaps {
  max-width: 200px;
  max-height: 75px;
  border: 3px solid #7d6b29;
  cursor: pointer;
}
.minimaps_container_minimaps img {
  max-width: 200px;
  max-height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=styles.css.map */