.campaignStory {
    width: 50%;
    height: calc(100% - 225px - 10%);
    background-color: #000000cc;
    margin-top: 30px;
    display: flex; align-items: center; flex-direction: column;
    border: 3px solid #7d6b29;
    border-radius: 2px;
    position: relative;

    p {color: white; font-size: 25px; margin: 0; margin-top: 20px; font-weight: bold; font-family: "Labrada"; }

    &_storybox {
        width: 90%;
        height: 75%;
        background-color: #00000097;
        border: 3px solid #7d6b29;
        margin-top: 20px;

        textarea {width: calc(100% - 5px); height: calc(100% - 5px); background-color: transparent; color: #666666;}
    }

}